/*
Description: The stylesheet with a main style.
Author:      Cherry Team
Version:     1.0.0
*/
@import "css-framework/base";

/* #General
================================================== */
a {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover, a:focus {
	text-decoration:none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
img{
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
}
input, textarea, button, select {
	outline: none!important;
	box-shadow: none;
	resize: none;
}
button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="password"]::-moz-focus-inner{
  border: none;
}
.table tr > th, .table tr > td, table tr > th, table tr > td{
	padding: 1px;
}
#content{
	position: relative;
	&:before{
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 10000px;
		margin-left: -5000px;
		content: "";
		z-index: -1;
	}
}
.team-socials_item{
	margin: 0 14px 5px 0!important;
}
.team-socials_link{
	width: auto!important;
	height: auto!important;
}
.entry-content{
	margin-top: 0;
}
.content-area{
	padding-top: 37px;  
}
.site {
    -moz-hyphens: none;
}
a:focus {
	outline: none;
}
p{
	margin: 0 0 36px;
}
.hentry{
	margin-bottom: 0;
}
.type-post.hentry{
	margin-bottom: 45px;
}
.type-post .entry-content{
	margin-bottom: 20px;
}
.team-wrap{
	overflow: hidden;
}
label{
	margin-bottom: 10px;
}
header{
	padding: 0;
	margin-bottom: 0;
	form.search-form {
		margin-bottom: 15px;
	}
}
h1, .site-title{
	margin: 0;
	&.image-logo{
		line-height: 0;
	}
	&.text-logo{
		position: relative;
		margin-top: -4px;
	    margin-bottom: 0;
    	.site-link{
    		font-weight: bold;
    		position: relative;
    	}
	}
}
h2{
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 55px;
	&.image-logo{
		line-height: 0;
	}
	&.site-title{
		&.text-logo{
			position: relative;
			text-transform: none;
			margin-top: -17px;
	    	margin-bottom: 0;
		    .site-link{
		    	font-weight: bold;
		    	position: relative;
		    }
		}
	}
}
h3{
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
	&.widget-title{
		position: relative;
		margin-bottom: 50px;
		text-transform: uppercase;
		text-align: center;
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -3px;
	}
	&.corr_1{
		font-size: 68px;
		line-height: 63px;
	}
	em{
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		text-align: center;
		border: 1px solid;
		line-height: 40px;
		margin-right: 10px;
		font-style: normal;
	}
}
h4{
	margin-top: 0;
	margin-bottom: 4px;
	text-transform: uppercase;
}
h5{
	margin-top: 0;
	margin-bottom: 67px;
	text-transform: uppercase;
}
h6{
	margin-top: 5px;
}
.content-sidebar-wrapper .widget-area, .content-sidebar-sidebar-wrapper .widget-area, .sidebar-content-sidebar-wrapper .widget-area, .cherry-sidebar-secondary.widget-area{
	padding-top: 37px;
}
.cherry-box{
	.cherry-box{
		padding-left: 15px;
		padding-right: 15px;
	}
	.inner{
		padding: 0;
	}
}
.error-404 {
	h2 {
		margin: 30px 0;
		text-align: left;
	}
}
.search-submit{
	position: relative;
	top: 0;
	display:inline-block;
	border: none;
	border-radius: 0;
	letter-spacing: 0;
	padding: 10px 30px;
	text-transform: uppercase;
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}
form{
	&.search-form{
		margin-bottom: 50px;
	}
}

.header-top{
	position: relative;
	padding: 28px 0 27px;
	z-index: 1000;
}
.site-header{
	z-index: 30;
}
header{
	.static-search-form{
		margin: 20px 0 0;
		.search-field{
			margin-bottom: 15px;
		}
	}
}
.static-search-form{
	margin: 20px 0;
	input[type="submit"]{
		position: relative;
		border: none;
		border-radius: 0;
		background: transparent;
		padding: 10px 30px;
		top: 0;
		 -webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		&:hover{
			background: #f00;
			color: #f00;
		}
	}
}
#static-area-header-top{
	>.container >.row:before{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		background: #f00;
		opacity: 0;
		 -webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
}
#static-area-header-bottom{
	padding: 0;
}
.team-single-item .team-meta_item:before {
    margin: -7px 5px 0 0!important;
}
.site-description{
	margin-left: 10%;
}
.content-sidebar-wrapper{
	padding-top: 30px;
}
/* Search results
================================================== */
.search-results{
	.entry-meta-top{
		position: relative;
		display: inline-block;
		margin-bottom: 15px;
	}
	.entry-content{
		margin-bottom: 25px;
	}
	.btn-default{
		position: relative;
		display: inline-block;
		padding: 17px 30px;
		text-transform: uppercase;
		border-radius: 3px;
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 0;
		margin-bottom: 30px;
	}
}
/* Search results */

/* #Input styles
================================================== */
input[type="search"], input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="password"], textarea{
	padding: 15px 18px;
	border-radius:0;
	border:1px solid #f00;
	background: transparent;
	box-sizing: border-box;
}
/* Input styles */

/* Login  */
.static-header-sidebar2{
	z-index: 10;
}

.custom-tooltip {
	display: inline-block;
	vertical-align: top;
	background-color: white;
	font-size: 10px;
	font-style: normal;
	padding: 0 7px;
	margin-bottom: 17px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	line-height: 18px;
	color: #609dad;
	//position: relative;

	position: absolute;
	display: inline-block;
	white-space: nowrap;
	left: -14px;
	display: none!important;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;

	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;

	-webkit-transform: translate(0,-10px);
	-ms-transform: translate(0,-10px);
	-o-transform: translate(0,-10px);
	transform: translate(0,-10px);

	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3px 2.5px 0 2.5px;
		border-color: white transparent transparent transparent;
		position: absolute;
		left: 50%;
		bottom: -3px;
		margin: 0 0 0 -2.5px;
	}
}

.login-form-wrapper {
	display: block;
	vertical-align: top;
	position: relative;
	line-height: 0;
	top:-20px;
	//right: -115px;
	right: -164%;

	h4 {
		font-size: 42px;
		line-height: 1em;
		font-weight: normal;
		margin: 0 0 18px 0;
	}

	.login-box {
		position: absolute;
		left: 50%;
		top: 54px;
		margin: 0 0 0 -356px;
		background-color: white;
		width: 350px;
		z-index: -1;
		.login-box-inner{
			display: none;
		}
		
		-webkit-opacity: 0;
		-moz-opacity: 0;
		-ms-opacity: 0;
		-o-opacity: 0;
		opacity: 0;

		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;

		-webkit-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px);

		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
		box-shadow: 0 0 10px rgba(0,0,0,.1);

		&.active {
			.login-box-inner{
				display: block;
			}
			-webkit-opacity: 1;
			-moz-opacity: 1;
			-ms-opacity: 1;
			-o-opacity: 1;
			opacity: 1;
			z-index: 50;

			-webkit-transform: translate(0,0);
			-ms-transform: translate(0,0);
			-o-transform: translate(0,0);
			transform: translate(0,0);
		}
	}

	.login-box-inner {
		padding: 23px 24px 29px;
	}

	#loginform {
		p {
			margin-bottom: 12px;
		}

		label {
			display: block;
			letter-spacing: 0.06em;
			font-weight: 300;

			-webkit-transition: color 0.4s;
			-o-transition: color 0.4s;
			transition: color 0.4s;
		}

		.login-remember{
			padding: 7px 0 24px;
		}

		input[type="text"],
		input[type="password"] {
			width: 100%;
			height: 39px;			
			padding: 0 11px;
			border: none;
			font-size: 14px;
			font-weight: 300;
			border-bottom: 1px solid;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			-webkit-transition: .4s;
			-o-transition: .4s;
			transition: .4s;
		}

		input[type="submit"] {
			border: none;
			font-size: 13px;
			font-weight: 300;
			height: 46px;
			padding: 25px 65px;
			margin: 10px 0 0 0;
			color: white;
			border-radius: 14px;
			-webkit-transition: .4s;
			-o-transition: .4s;
			transition: .4s;
		}

		.login-remember {
			label {
				font-size: 12px;
				font-weight: 300;
				cursor: pointer;
				display: inline-block;
			}
		}

		#rememberme {
			position: relative;
			top: 2px;
			margin-right: 2px;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}
	}
}

.login-button,
.logout-button {
	position: relative;

	.icon-wrap {
		float: left;
	}

	i {		
		&:before {
			font-size: 37px;
			line-height: 1em;
			margin: 0;
			font-weight: bold;
			cursor: pointer;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;		
		}
	}	

	&:hover {
		.custom-tooltip {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			-ms-opacity: 1;
			-o-opacity: 1;
			opacity: 1;

			-webkit-transform: translate(0,0);
			-ms-transform: translate(0,0);
			-o-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}
/* end Login  */

/**** MENU MEGA ****/
#menu-primary .cherry-mega-menu{
	box-shadow: none;
}
.cherry-mega-menu-mobile-trigger{
	font-size: 20px;
	font-weight: normal;
	box-shadow: none!important;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#menu-primary  #menu-primary-items .cherry-mega-menu-sub{
	margin-top: 12px;
	padding: 25px 0 30px;
	.cherry-mega-menu-sub-item{
		padding: 0;
		padding-right: 20px;
		padding-left: 20px;
		border-right: 1px solid;
		&:last-child{
			border: none;
		}
	}
	.menu-item-type-widget{
		ul{
			list-style: none;
			padding: 0;
			li{
				position: relative;
				padding: 0;
				margin-bottom: 4px;
				&:before{
					display: none;
				}
				a{
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
	.team-wrap{
		margin-bottom: 0;
		.team-listing{
			margin-left: 0;
			margin-right: 0;
			padding: 0;
			.team-listing_photo{
				text-align: left;
			}
			.team-listing_name{
				margin: 10px 0;
			}
		}
	}
	blockquote{
		font-size: 16px;
		font-weight: 500;
	}
	.post-title{
		letter-spacing: 0;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.top_info{
		position: relative;
		margin-bottom: 28px;
	}
	/*.cherry-posts-item{
		margin-bottom: 20px;
		.cherry-banner_link{
			font-size: 25px;
			line-height: 28px;
			text-transform: uppercase;
		}
	}*/
	.testimonials-list a{
		font-size: 21px;
	}
	.cherry-posts-list{
		padding-bottom: 0!important;
		&:before{
			background: transparent!important;
		}
		.cherry-banner_link{
			font-size: 16px;
			line-height: 1em;
			padding: 14px 25px;
			border-radius: 0;
			text-transform: uppercase;
		}
	}
}
#menu-primary{
	#menu-primary-items{
		background: transparent;
		vertical-align: top;
		li.current-menu-item{
			a{
				text-decoration: none;
			}
		}
		.cherry-mega-menu-sub{
			text-align: left;
			.mega-block-title {
				font-weight: bold;
				text-transform: uppercase;
				font-style: normal;
			    font-size: 23px;
			    line-height: 30px;
			    padding-bottom: 19px;
			    margin: 0;
			}
			ul{
				li{
					position: relative;
					text-transform: uppercase;
					a{
						position: relative;
					}
				}
			}
		}
	}
	&:after{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		top: 0;
		left: 0;
		opacity: 0;
	}
}
.cherry-mega-menu-mobile-close{
	height: 0;
    padding: 0!important;
    overflow: hidden;
}


/**** END MENU MEGA ****/

/**** MENU ****/
#menu-primary{
	position: relative;
	margin: 0;
	padding: 0;
	text-align: right;
	#menu-primary-items{
		position: relative;
		@media (min-width: 769px) {
			display: inline-block!important;
		}
		padding-bottom: 0;
		>li{
			background: transparent;
			margin: 0 32px;
			&:before{
				position: absolute;
				display: block;
				top: 4px;
				right: -18px;
				content: "";
				color: #f00;
			}
			a{
				position: relative;
				padding: 0;
				text-decoration: none;
				>div{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    -webkit-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;

					.arrow_mov{
						position: absolute;
						display: block;
						left: 0;
						bottom: 15px;
						width: 100%;
						height: 20px;
						text-align: center;
						&:before{
							position: absolute;
							display: block;
							left: 0;
							bottom: -30px;
							width: 100%;
							height: 100%;
							/*content: "\f347";
							font: normal 18px/1 'dashicons';*/
							content: "\f078";
							font: normal 18px/1 FontAwesome;
							text-align: center;
							color: inherit;
						}
					}
                    
                    &:first-child{        
                        &+div{
                        	position: absolute;
                            top:0;
                            left: 0;
                            span{
                                opacity: 0;
                            }
                            .arrow_mov:before{
                            	opacity: 0;
                            	-webkit-transition: all 0.4s ease-in-out;
								transition: all 0.4s ease-in-out;
                            }  
                        }
                    }
                    span{
                        position: relative;
                        display: block;
                        padding: 6px 0;
                        width: auto;
                        border: none;
                        border-radius: 0;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                        background: url('../../images/false_button.png') 0 0 repeat;
                         -webkit-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
                    }
                }
                &:after{
					display: none;
                }
			}
			&:first-child{
				/*margin-left: 0;*/
			}
			&:last-child{
				margin-right: 0;
				&:before{
					display: none;
				}
			}
			&:hover, &.current-menu-item{
               /* z-index: 10;*/
                >a{
                    text-decoration: none;
                    background: transparent;
                    >div{
                        &:first-child{
                            top: 0;
                            opacity: 0;
                            transform: scale(0);
                             -webkit-transition: all 0.5s ease-in-out;
							transition: all 0.5s ease-in-out;
                            &+div{
                                 -webkit-transition: all 0.4s ease-in-out;
								transition: all 0.4s ease-in-out;
                                top: 0;
                                 span{
                                    opacity: 100;
                                }
                                .arrow_mov:before{
	                            	opacity: 100;
	                            }  
                            }
                        }
                    }
                    &:after{
                    	bottom : 100%;
                    	margin-bottom: 0;
                    	opacity: 100;
                    }
                }
            }
            &:first-child{
            	/*margin-left: 0;*/
            }
		}
		.sub-menu, .simple-sub{
			width: 180px;
			left: 50%;
			margin-left: -90px;
			margin-top: 22px;
			padding: 10px;
			border: 3px solid;
			border-radius: 0;
			text-align: left;
			background: transparent;
			&:after {
				position: absolute;
				display: block;
				height: 5px;
				width: 100%;
				top: -5px;
				left: 0;
				content: "";
			}
			li{
				position: relative;
				float: none;
				line-height: 0;
				background: transparent;
				margin-bottom: 0;
				width: 100%;
				text-align: center;
				border: none!important;
				padding: 8px 0!important;
				background: #f00;
				a{
					font-size: 18px;
					line-height: 18px;
					font-weight: 800;
					position: relative;
					display: inline-block;
					background: transparent;
					padding: 0;
					margin: 0;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					text-shadow: none;
					box-shadow: none;
					width: auto;
					height: auto;
					 -webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
					white-space: nowrap;
					&:hover{
						background: transparent;
					}
					&:before, &:after{
						display: none;
					}
					.sub-arrow{
						display: none;
					}
				}
				.sub-menu, .simple-sub{
					top: -35px !important;
    				margin-left: 18px;
					padding: 10px;
					left: 100%;
					&:after {
						position: absolute;
						display: block;
						height: 7px;
						width: 4px;
						top: 37px;
						left: -4px;
						content: "";
					}
					a:hover{
						background: transparent;
					}
				}
				&:first-child{
					padding-top: 29px!important;
				}
				&:last-child{
					padding-bottom: 29px!important;
				}
			}
		}
	}
}
.isStick{
	//padding: 0;
	z-index: 500;
	right: 0;
	left: 0;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	&#static-area-header-top{
		padding: 10px 0 17px;
		.container .row:before{
			opacity: 1;
		}
	}
	&#menu-primary{
		padding: 15px 0;
		text-align: center;
		&:after{
			opacity: 1;
		}
	}
}

/**** End MENU ****/

/* #Portfolio 
================================================== */
.swiper-pagination{
	.swiper-pagination-bullet{
		opacity: 1;
		border: 1px solid #f00;
		-webkit-transition: all 0.3s ease;
		 transition: all 0.3s ease;
		&:hover{
			opacity: 0.5;
		}
	}
}
.swiper-button-next, .swiper-button-prev, .post-gallery_next, .post-gallery_prev {
	-webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;

	width:46px;
	height:46px;
	text-align:center;
	background:none;

	&:before{
		font: 60px/43px FontAwesome;
		-webkit-transition: all 0.3s ease;
		 transition: all 0.3s ease;
	}
}
.swiper-button-next, .post-gallery_next {
	&:before{
		content:'\f105';
	}
}
.swiper-button-prev, .post-gallery_prev {
	&:before{
		content:'\f104';
	}
}
.post-gallery .post-gallery_prev, .post-gallery .post-gallery_next, .post-gallery .post-gallery_prev:hover, .post-gallery .post-gallery_next:hover{
	background-color: transparent;
}
.portfolio-wrap {
	.portfolio-filter{
		margin-bottom:0;
		margin: 37px 0 47px;
		text-align: center;
		.filter-category{
			float: none;
		}
		.order-filter{
			float: none;
			li{
				text-align: center;
				text-decoration: none;
				ul{
					top:28px;
				}
			}
			.order-list, .orderby-list{
				z-index: 1;
				li{
					-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
					-moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.3);
					box-shadow:         0px 0px 8px 0px rgba(0, 0, 0, 0.3);
				}
			}
		}
		
		ul.filter, ul.order-filter{
			position: relative;
			display: inline-block;
			vertical-align: top;
			float: none;
			li {
				margin: 0;
				position:relative;
				font-size: 24px;
				line-height: 1em;
				font-weight: 600;
				text-transform: uppercase;

				a{
					position: relative;
					display: block;
					border-radius: 0;
					text-decoration: none;
					float: left;
				}

				&:after {
					position: relative;
					display: inline-block;
					width: 40px;
					text-align: center;
					content: "|";
					top: -1px;
				}
			
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
		ul.order-filter{
			margin-left: 60px;
			li{
				letter-spacing: 0;
				margin: 0;
				padding-right: 0;
				-webkit-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}
			.marker{
				display: none!important;
			}
			.order-list, .orderby-list{
				background: transparent;
				padding-top: 12px;
				width: 100%;
				li{
					margin-top: 10px;
					margin-bottom: 10px;
					box-shadow: none;
					&:after{
						display: none;
					}
				}
			}
		}
	}


	.portfolio-container.masonry-layout{
		.portfolio-list{
			div.portfolio-item {
				.inner-wrap{
					.media-content {
						img {
							-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
								
							-webkit-transform: scale(1);
	   						transform: scale(1);
						}
						.rollover-content{
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
									
							-webkit-transition-delay: 0.15s;
		    				transition-delay: 0.15s;
										
							visibility:hidden;
							opacity:0;
							
							background:none;
							z-index:1;
							
							&:before {
								-webkit-transition: all 0.5s ease;
										transition: all 0.5s ease;
								
								-webkit-transform: scale(.5);
		   								transform: scale(.5);
										
								-webkit-transition-delay: 0.5s;
		    							transition-delay: 0.5s;
					
								content:'';
								position:absolute;
								width:100%;
								height:100%;
								top:0;
								left:0;
								z-index:-1;
							}
							
							.item-link {
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
										
								position:relative;
								border-radius:5px;
								padding:10px 14px 12px;
								font-size:13px;
								line-height:18px;
								opacity:0;
							}
							.item-link.zoomlink {
								left:-24px;
								height: 36px;
								width: 36px;
								border-radius: 500px;
								margin-right: 4px;
								&:before{
									position: absolute;
									height: 36px;
									width: 36px;
									top: -2px;
									left: -2px;
									font: 36px/36px FontAwesome;
									content: "\f002";
									text-align: center;
								}
							}
							.item-link.permalink {
								left:24px;
								height: 36px;
								width: 36px;
								border-radius: 500px;
								margin-left: 4px;
								&:before{
									position: absolute;
									height: 36px;
									width: 36px;
									top: -2px;
									left: -2px;
									font: 36px/36px FontAwesome;
									content: "\f090";
									text-align: center;
								}
							}
						}
					}
					.item-content{
						position: relative;
						overflow: hidden;
						border: 1px solid;
						padding: 32px 10px 13px;
						box-sizing: border-box;
						border-radius: 0;
						text-align: center;
						h4{
							font-weight: bold;
							margin-bottom: 12px;
						}
						.link_title{
							position: relative;
							text-transform: uppercase;
						}
						p{
							margin-bottom: 15px;
						}
						.item-link{
							position: relative;
							display: inline-block;
							//padding: 17px 30px 20px;
							letter-spacing: 3px;
							border-radius: 27px;
							font-size: 14px;
							line-height: 1em;
							font-weight: bold;
							text-transform: uppercase;
						}
						h3{
							font-size: 17px;
							line-height: 22px;
							text-transform: none;
							font-weight: 500;
							margin-bottom: 10px;
						}
					}

					&:hover{
						.media-content {
							img {							
								-webkit-transform: scale(1.3);
		   						transform: scale(1.3);
		   						opacity:0.4;
							}
							.rollover-content {
								-webkit-transition-delay: 0s;
			    				transition-delay: 0s;
											
								visibility:visible;
								opacity:1;
												
								&:before {
									-webkit-transform: scale(1);
			   								transform: scale(1);
											
									-webkit-transition-delay: 0s;
			    					transition-delay: 0s;
								}
								.item-link {
									left:0;
									opacity:1;
								}
							}
						}
					}
				}
			}
		}
	}


	.portfolio-container.grid-layout, .portfolio-container.justified-layout {
		.portfolio-list{
			div.portfolio-item {
				.inner-wrap{
					.media-content{
						pointer-events: none;
						.image {
							-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
								
							-webkit-transform: scale(1);
	   								transform: scale(1);
						}
					}
					.item-content{
						.table-cell{
							padding: 0 20px;
							h3{
								margin-bottom: 0;
							}
							.item-meta-container{
								margin-bottom: -15px;
							}
						}
					}
				}

				.item-content.rollover-content {
					-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
							
					-webkit-transition-delay: 0.15s;
    						transition-delay: 0.15s;
								
					visibility:hidden;
					opacity:0;
					
					background: rgba(0,0,0,0.4)!important;
					z-index:1;
					
					&:before {
						-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
						
						-webkit-transform: scale(.5);
   								transform: scale(.5);
								
						-webkit-transition-delay: 0.5s;
    							transition-delay: 0.5s;
			
						content:'';
						position:absolute;
						width:100%;
						height:100%;
						top:0;
						left:0;
						z-index:-1;
					}

					.item-content-inner{
						pointer-events: none;
					}
					
					h3{
						-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;

						position:relative;
						top:-50px;
						opacity:0;
						
						font-size:20px;
						line-height:25px;
						font-weight:500;
					}
					
					.item-link {
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
								
						position:relative;
						border-radius: 0;
						padding:10px 14px 12px;
						font-size:13px;
						line-height:18px;
						opacity:0;
						border-color: #f00;
						color: #f00;
						&:hover{
							background: #f00;
							color: #f00;	
						}
					}
					.item-link.zoomlink {
						left:-50px;
						pointer-events: auto;
					}
					.item-link.permalink {
						left:50px;
						pointer-events: auto;
					}
				}
			}
			div.portfolio-item:hover {
				.media-content {
					.image {							
						-webkit-transform: scale(1.3);
   								transform: scale(1.3);
					}
				}
				.item-content.rollover-content {
					-webkit-transition-delay: 0s;
    						transition-delay: 0s;
								
					visibility:visible;
					opacity:1;
									
					&:before {
						-webkit-transform: scale(1);
   								transform: scale(1);
								
						-webkit-transition-delay: 0s;
    						transition-delay: 0s;
					}
					
					h3 {		
						top:0;
						opacity:1;
					}
					
					.item-link {
						left:0;
						opacity:1;	
					}
				}
			}
		}
	}
	
	.portfolio-container.list-layout{
		.portfolio-list{
			.portfolio-item{
				position: relative;
				margin-bottom: 50px;
				.inner-wrap{
					.media-content{
						position: relative;
						float: left;
						.rollover-content{
							background: rgba(0,0,0,0.6)!important;
							.item-link {
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
										
								position:relative;
								border-radius:0;
								padding:10px 14px 12px;
								font-size:13px;
								line-height:18px;
								opacity:0;
								border-color: #f00;
								color: #f00;
								&:hover{
									background: #f00;
									color: #f00;	
								}
							}
							.item-link.zoomlink {
								left:-50px;
							}
							.item-link.permalink {
								left:50px;
							}
						}
						&:hover{
							.rollover-content{
									.item-link {
										left:0;
										opacity:1;	
									}
							}
						}
					}
				}
			}
		}
	}

	.portfolio-container{
		.portfolio-pagination{
			margin-bottom: 40px;
			ul.page-link{
				float: none;
				li{
					a{
						background: #f00;
						color: #f00;
					}
				}
			}
			.page-nav{
				a{
					background: #f00;
					color: #f00;
				}
			}
		}
	}
}

.cherry-portfolio-single-post{
	.dashicons{
		position: relative;
		top: 7px;
		margin-right: 5px;
	}
}

/* Portfolio  */

/* Blog
================================================== */
.navigation.pagination{
	position: relative;
	display: inline-block;
	float: none;
	.nav-links{
		margin-bottom: 80px;
	}
}
.nav-links{
	position: relative;
	margin-bottom: 30px;
	.page-numbers{
		position: relative;
		display: inline-block;
		line-height: 30px;
		padding: 5px 10px;
		margin-bottom: 5px;
	}
}
.blog, .single-post, .category{
	.post {
		margin:0 0 70px;
		.entry-thumbnail {
			margin-bottom: 45px;
		}
		.entry-header{
			text-align: center;
		}
		.entry-content {
			margin:20px 0 25px;
		}
		.entry-permalink a {
			margin-bottom: 30px;
		}
	}
}
article{
	&.post{
		&.cherry-has-entry-date, &.cherry-has-entry-author, &.cherry-has-entry-comments {
			.entry-meta-top{
				border-top: 1px solid;
				border-bottom: 1px solid;
				margin-bottom: 20px;
				padding: 10px 0;
			}
		}
		&.cherry-has-entry-cats, &.cherry-has-entry-tags {
			.entry-meta-bottom{
				border-top: 1px solid;
				border-bottom: 1px solid;
				margin-bottom: 20px;
				padding: 10px 0;
			}
		}
	}
}
.single-post{
	h3{
		margin-top: 0;
	}
}

.entry-thumbnail {
	margin-bottom:25px;
}
.post-navigation{
	.nav-previous, .nav-next{
		font-weight: bold;
	}
}

.entry-meta {
	font-size:14px;
	line-height:18px;
	
	.posted-on {
		&:before {
			margin-right:6px;
			content:'\f017';
			font-family: FontAwesome;
		}
	}
	.author {
		&:before {
			margin-right:6px;
			content:'\f007';
			font-family: FontAwesome;
		}
	}
	.comments-link {
		&:before {
			margin-right:6px;
			content:'\f075';
			font-family: FontAwesome;
		}
	}
	>span {
		margin-right:10px;	
	}
	&.entry-meta-bottom{
		margin-top: 20px;
		margin-bottom: 50px;
	}
}

.author-bio {
	padding: 17px 17px 25px;
	margin-bottom: 46px;
	border: 1px solid ;
	border-radius: 0;
	.author-bio_avatar{
		margin-right: 19px;
	}
	.description{
		position: relative;
		top: -9px;
	}
}
.author-bio h3{
	margin-top: 0;
	margin-bottom: 22px;
	font-size: 17px;
	font-weight: 500;
	text-transform: none;
}
.related-posts_title, .comment-reply-title, .comments-title {
	position: relative;
	margin-top: 21px;
	margin-bottom: 54px;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
}

.related-posts {
	overflow:hidden;
	padding-top:40px;
	
	.related-posts_list {
		padding:0;
		list-style:none;
		
		.related-posts_item {
			display:block;
			//width: 24.3%;
			float: left;
			margin-left: 0;
			margin-bottom:45px;

			h4{
				font-size: 18px;
				line-height: 22px;
				font-weight: bold;
				text-transform: uppercase;
			}

			figure{
				img{
					width: 100%;
				}
			}
			.entry-permalink {
				padding-top:0;
			}
		}
	}
}
.comments-area {
	padding-top:40px;
	
	.comment-list {
		list-style:none;
		padding-left:0;
		padding-bottom:40px;
		margin-bottom:40px;
		
		.comment {
			margin-bottom:30px;
		}
		
		.comment-meta {
			overflow:hidden;
			
			.comment-author {
				img{
					float: left;
					margin: 0 20px 10px 0;
				}
				.says {
					display:none;
				}
				.fn {
					font-size:13px;
					line-height:18px;
					text-transform:uppercase;
				}
			}
			.comment-awaiting-moderation {
				margin:0;
			}
			.comment-metadata {
				font-size:12px;
				line-height:18px;
				
				&:before {
					content:'\f017';
					font-family: FontAwesome;
					margin-right:3px;
				}
				.edit-link {
					font-weight:700;
					text-transform:uppercase;
				}
			}
		}
		.comment-body{
			border: 1px solid;
			overflow: hidden;
			padding-bottom: 25px;
		}
		.comment-content {
			position:relative;
			margin-top: 0;
			margin-bottom: 0;
			padding:15px;
			border-radius:0;
			border:none;
			
			&:before{
				content:'';
				position:absolute;
				top:-10px;
				left:14px;
				width:18px;
				height:10px;
				background: #f00;
				display: none;
			}
			
			p{
				margin:0;
			}
		}
		.reply {
			position: relative;
			display: inline-block;
			float: right;
			margin-top: 0;
			.comment-reply-link {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
				line-height: 1em;
				padding: 0;
				border-radius: 0;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}
}
.comment-form{
	margin-bottom: 100px;
}
.comment-respond {
	form {
		overflow:hidden;
		p{
			margin-bottom: 10px!important;
		}
		input, textarea {
			width:100%;
		}
		
		.form-submit {
			.submit {
				width: auto;
				border: none;
				font-size: 18px;
				line-height: 1em;
				font-weight: bold;
				text-transform: uppercase;
				padding: 16px 20px;
				border: 3px solid;
				border-radius: 0;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}
}

/* end Blog */

/* Breadcrumbs  */
.cherry-breadcrumbs-holder{
	padding: 15px 0 17px;
	.container{
		>div{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.cherry-breadcrumbs{
	position: relative;
	padding: 0;
	text-transform: lowercase;
	text-align: center;
	background-color: transparent!important;
	.page-title{
		position: relative;
		text-transform: uppercase;
		padding: 20px 0 10px;
		margin-bottom: 0;
		font-size: 36px;
		line-height: 40px;
	}
	.cherry-breadcrumbs_content{
		text-align: center;
		padding: 12px 0 7px;
		text-transform: uppercase;
		border: none;
		.cherry-breadcrumbs_wrap{
			position: relative;
			top: 0;
			.cherry-breadcrumbs_item_sep{
				position: relative;
				top: -3px;
				padding: 0 15px;
				font-size: 25px;
			}
			.cherry-breadcrumbs_item{
				position: relative;
				a{
					position: relative;
				}
			}
		}
	}
}
/* end Breadcrumbs  */

/* Widgets  */

.cherry-sidebar-main, .cherry-sidebar-secondary{
	padding-top: 0;
	.widget{
		position: relative;
		margin-bottom: 115px;
	}
	.search-field{
		width: 100%;
	}
	.team-listing{
		margin-left: 0;
		margin-right: 0;
	}
	ul{
		margin-left: 20px;
		padding-left: 0;
		&.clearfix{
			margin-left: 0;
		}
		li{
			list-style: none;
			line-height: initial;
			margin-bottom: 12px!important;
			position: relative;
			a{
				margin-left: 0;
				//font-size: 15px;
				letter-spacing: 0;
				&:before{
					position: absolute;
					display: block;
					top: 6px;
					left: -20px;
					content: "\f0da";
					font-family: FontAwesome;
					font-size: 18px;
					 -webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}
				&:hover{
					&:before{
						//transform: scale(0.8);
					}
				}
			}
			&:before{
				font-size: 0;
			}
		}
		ul{
			margin-top: 10px;
		}
	}
	.cherry-follow_list{
		li{
			a:before{
				display: none;
			}
		}
	}
	.team-wrap{
		.team-listing{
			.team-item{
				text-align: center;
				margin-bottom: 30px;
			}
		}
	}
}

.cherry-follow_list{
	position: relative;
	display: block;
	padding-left: 22%;
	li{
		margin: 0 0 1px 1px;
		a{
			position: relative;
			i{
				width: 41px;
				height: 41px;
				border-radius: 500px;
				background: #f00;
				text-align: center;
				font-size: 20px;
				line-height: 40px;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			&:hover{
				opacity: 1;
			}
		}
	}
}
.team-listing_item{
	margin-bottom: 30px;
	.team-listing_photo{
		margin-bottom: 15px;
	}
	.team-listing_photo{
		margin-bottom: 20px;
		text-align: center;
	    width: 50%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.team-listing_name{
		margin-bottom: 0;
	}
}
/* end Widgets  */

/* FAQ */
.cherry-accordion {
	.cherry-spoiler.cherry-spoiler-style-default {
		margin-bottom: 0;
		.cherry-spoiler-title {
			padding:12px 5px 0 0;
			font-size:18px;
			line-height:22px;
			font-weight: normal;
			text-transform:uppercase;
			 -webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			&:before{
				position: relative;
				content: "\f147";
			    display: inline-block;
			    font-family: FontAwesome;
			    font-weight: normal;
			    padding-right: 10px;
			}
		}
		.cherry-spoiler-content {
			padding:10px 0 0 0;
		}
		&.cherry-spoiler-closed{
			.cherry-spoiler-title:before {
				content: "\f196";
			}
		}
	}
}
/* end FAQ */

/* Contact form
================================================== */

.wpcf7 {
	form {
		.wpcf7-form-control-wrap {
			display:block;
			margin-bottom:25px;
		}
		input[type="text"], input[type="email"], input[type="tel"], textarea{
			width:100%;
			padding:15px 10px;
			line-height: 27px;
		}
		textarea {
			height:200px;
		}
		
		.submit-wrap {
			position: relative;
			margin-left: 15px;
			clear: both;
			input {
				display:inline-block;
				border: 3px solid;
				border-radius: 0;
				font-size: 18px;
				line-height: 1em;
				font-weight: bold;
				text-transform: uppercase;
				padding: 16px 20px;
				-webkit-transition: all 0.45s ease-in-out;
				transition: all 0.45s ease-in-out;
			}
			.ajax-loader {
				display:inline-block;
				margin-right:10px;
			}
		}
		.wpcf7-not-valid-tip{
			font-size: 12px;
		}
		.wpcf7-response-output {
			margin-top:25px;
			overflow: hidden;
		}
	}
}

/* Contact form */


/* Footer  */

#footer{
	padding: 36px 0 39px;
	.menu-secondary{
		position: relative;
		margin-top: 30px;
		margin-bottom: 25px;
		text-align: center;
		ul{
			display: inline-block;
			padding: 0;
			li{
				position: relative;
				display: inline-block;
				margin: 0 20px 15px;
				list-style: none;
				&:after{
					position: absolute;
					display: block;
					width: 2px;
					height: 13px;
					top: 5px;
					right: -37px;
					content: "";
				}
				a{
					position: relative;
					text-decoration: none!important;
					text-transform: uppercase;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	.site-info{
		text-transform: uppercase;
		span{
			position: relative;
			display: inline-block;
			width: 24px;
			text-align: center;
			font-size: 19px;
			top: -2px;
			font-weight: normal;
		}
	}
}

/* end Footer  */





















/* Content */
.block_img{
	position: relative;
	padding: 123px 0 146px;
	text-align: center;
}
.post_1{
	position: relative;
	.cherry-posts-item{
		.inner{
			position: relative;
			text-align: center;
			h5{
				margin-top: -5px;
			}		
		}
	}
}
.parallax_1{
	.parallax-content{
		padding: 92px 0 139px;
	}
}
.parallax_2{
	.parallax-content{
		padding: 88px 0 78px;
		text-align: center;
		h3{
			position: relative;
			padding-bottom: 36px;
			margin-bottom: 36px;
			&:before{
				position: absolute;
				display: block;
				width: 352px;
				height: 4px;
				bottom: 0;
				left: 50%;
				content: "";
				margin-left: -176px;
				background: #f00;
			}
			&:after{
				position: absolute;
				display: block;
				width: 188px;
				height: 4px;
				bottom: -14px;
				left: 50%;
				content: "";
				margin-left: -94px;
				background: #f00;
			}

		}
		p{
			font-size: 30px;
			line-height: 48px;
			font-weight: 600;
			letter-spacing: -0.8px;
			strong{
				
			}
		}
	}
}
div.portfolio_1 div.portfolio-item.simple-scale-hover .rollover-content{
	transform: scale(1);
}
.portfolio_1{
	position: relative;
	margin-bottom: -1px;
	.portfolio-container{
		.portfolio-list{
			.portfolio-item{
				.inner-wrap{
					.item-content{
						.item-content-inner{
							.btn_block{
								position: absolute;
								top: 0;
								left: 0;
								display: block;
								width: 100%;
								height: 100%;
								a{
									position: relative;
									display: block;
									width: 100%;
									height: 100%;
									pointer-events: auto;
								}
							}
							.table-cell{
								a{
									text-transform: uppercase;
									font-size: 24px;
									line-height: 36px;
									font-weight: bold;
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
		.portfolio-pagination{
			display: none;
		}
	}
}
.parallax_3{
	.parallax-content{
		padding: 155px 0 119px;
		text-align: center;
		h2{
			margin-bottom: 62px;
		}
		h3{
			margin-bottom: -5px;
		}
		h5{
			margin-bottom: 0;
			em{
				font-style: normal;
			}
		}
		p{
			position: relative;
			margin-bottom: 0px;
			letter-spacing: -0.5px;
		}
	}
}
.team_1{
	.team-listing{
		margin: 0;
		padding: 0;
		h3{
			margin-bottom: -5px;
		}
		h5{
			margin-bottom: 24px;
		}
	}
}
.list_1{
	ul{
		li{
			line-height: 24px;
			margin-bottom: 7px;
			.list-icon {
				position: relative;
    			min-width: 22px;
    			top: 0;
    		}
		}
	}
}
.post_2{
	position: relative;
	.cherry-posts-item{
		.inner{
			text-align: center;
			h2{
				margin-bottom: 68px;
			}
			.post-thumbnail{
				display: inline-block;
			}
			.post-content{
				padding: 0 8%;
			}
		}
	}
}
.parallax_4{
	.parallax-content{
		padding: 70px 0 28px;
		text-align: center;
	}
}
.post_3{
	.cherry-posts-item{
		margin-bottom: 40px;
		.inner{
			padding: 0 5%;
			.post-title{
				margin-bottom: 5px;
			}
		}
	}
}
.parallax_5{
	.parallax-content{
		padding: 70px 0 126px;
		text-align: right;
	}
}
.testi_1{
	.testimonials-list{
		.testimonials-item{
			position: relative;
			margin-bottom: 38px;
			h3{
				margin-bottom: -4px;
			}
			h5{
				margin-bottom: 9px;
			}
		}
	}
}
.parallax_6{
	.parallax-content{
		padding: 70px 0 69px;
		p{
			margin-bottom: 20px;
		}
	}
}
.list_2{
	ul{
		margin-bottom: 0;
		li{
			padding: 0;
		}
	}
}
.parallax_7{
	.parallax-content{
		padding: 70px 0 50px;
		text-align: center;
		p{
			margin-bottom: 3px;
		}
	}
}
.list_3{
	ul{
		li{
			padding: 0;
		}
	}
}
/* end Content */




















/* #Misc
================================================== */
.post-gallery_item, .post-thumbnail, .entry-video{
	margin-bottom: 18px;
	.post-thumbnail{
		margin-bottom: 0;
	}
}
.cherry-btn-primary, .btn-default{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 15px 24px;
	font-size: 18px;
	font-weight: 800;
	line-height: 1em;
	border: 3px solid;
	text-transform: uppercase;
	&.type_2{
		padding: 20px 75px;
		border-left: none;
		border-right: none;
		font-size: 14px;
		font-weight: bold;
	}
}

/* hover */

 .thumbnail, .post-thumbnail, .team-listing_photo{
 	position: relative;
 	overflow: hidden;
     a{
     	background: #f00;
     	display: block;         	
     	img{
     		transform: scale(1.0);
     		width: 100%;
			 -webkit-transition: all 0.45s ease-in-out;
			transition: all 0.45s ease-in-out;
     	}
     	&:after{
     		position: absolute;
     		display: block;
     		width: 80px;
			height: 80px;
			left: 50%;
			top: 50%;
			margin-top: -40px;
			margin-left: -40px;
			border-radius: 500px;
			overflow: hidden;
     		pointer-events: none;
     		font: 50px/80px FontAwesome;
     		content: "\f00e";
     		text-align: center;
     		color: #f00;
     		z-index: 10;
     		transform: scale(1.4);
     		opacity: 0;
     		visibility: hidden;
     		 -webkit-transition: all 0.45s ease-in-out;
			transition: all 0.45s ease-in-out;
     	}
     	&:before{
     		position:absolute;
        	left: 0;
            top: 0;
        	display:block;
        	margin: 0;
			height: 0%;
			width: 100%;
			pointer-events: none; 
        	content:"";
            overflow: hidden;
            opacity: 0;
            z-index: 5;
             -webkit-transition: all 0.45s ease-in-out;
			transition: all 0.45s ease-in-out;
     	}
     	&:hover{
			img{
				transform: scale(1.2);
			}
			&:after{
				visibility: visible;
				transform: scale(1.0);
				opacity: 100;
			}
			&:before{
				opacity: 100;
				height: 100%;
			}
		}
     }
 }
/* end hover */

/*/ Misc */